.semestre {
  margin-bottom: 30px;
  padding: 10px 15px;
  border: 2px solid #ffa6c9;
  border-radius: 15px;
  background-color: #fff5f9;
  box-shadow: 0 4px 8px rgba(255, 192, 203, 0.2);
}

.semestre h2 {
  text-align: center;
  color: #e75480;
  margin-bottom: 15px;
  font-size: 20px;
}

.fila-semestre {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

